<h1>Vista principal</h1>

<h2>ENCUADERNAcion</h2>

<div class="row ">
    <div class="card bg-secondary " style="max-width: 20rem;">
        <div class="card-header">code: {{this.code}}</div>
        <div class="card-body">
            <h4 class="card-title">{{this.title}}</h4>
            <p class="card-text">
                <li>
                    id: {{this.id}}
                </li>
                <li>
                    descripción: {{this.description}}
                </li>
                <li>
                    precio: ${{this.price}}
                </li>
                <li>
                    categoría: {{this.category}}
                </li>
                <li>
                    status: {{this.status}}
                </li>
                <li>
                    stock: {{this.stock}}
                </li>
                <li>
                    thumbnail: {{this.thumbnail}}
                </li>
            </p>
        </div>
    </div>

</div>